<div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">MEng in Computational Intelligence and Systems Science</h4>
    <h5 class="meta">Tokyo Institute of Technology</h5>
    <div class="time">2011 - 2013</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BEng in Control and Computer Engineering</h4>
    <h5 class="meta">National Institute of Technology, Kitakyushu College</h5>
    <div class="time">2004 - 2011</div>
</div><!--//item-->
</div>
