<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>My personal projects.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://kohei-kimura.github.io/yearbum">Yearbum</a></span> - <span class="project-tagline">Easy and quick album editor with user's favorite photos in the year. </span>
                    <p><small>keywords: React.js, GitHub Pages</small></p>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/kohei-kimura/slack-weather-notifier" target="_blank">Slack Weather Notifier</a></span> - 
                    <span class="project-tagline">A slack bot of weather notifier. </span>
                    <p><small>keywords: Ruby, Heroku, Slack bot
                </div><!--//item-->
            </section><!--//section-->