<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Personal Projects</h2>
                {% for project in site.data.projects %}
                <div class="item">
                    <span class="project-title"><a href="{{ project.title-link }}">{{ project.title }}</a></span> - <span class="project-tagline">{{ project.tagline }}</span>
                        {{ project.description }}
                    {% for link in project.links %}
                    <a href="{{link.url}}"><i class="fa fa-{{link.icon}}"></i></a>
                    {% endfor %}
                    <p><small>Keywords: {{ project.keywords }}</small></p>
                </div><!--//item-->
                {% endfor %}
            </section><!--//section-->
